.salonHeadDiv {
  color: white;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.bgsubPrimary {
  padding: 6px 0;
}
.backArrow {
  width: 25px;
  height: 25px;
  color: white;
  cursor: pointer;
}
/* Bredcrumb */

ul.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
}

ul.breadcrumb li {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
}
.arbBackArrow {
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
  cursor: pointer;

}
.breadcrumb li:nth-child(2)::before {
  content: "";
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

ul.breadcrumb li {
  font-weight: 600;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.activeBreadCrumb{
  font-weight: 600;
}
.BreadcrumbList{width: calc(100% - 30px);}
@media (max-width:575px){
  .salonHeadDiv{overflow: auto;white-space: nowrap;}
}